<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>$(BUNDLE_DISPLAY_NAME)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(BUNDLE_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<true/>
		<key>FirebaseMessagingAutoInitEnabled</key>
		<true/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>sms</string>
			<string>tel</string>
			<string>mailto</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppleMusicUsageDescription</key>
		<string>Music!</string>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>Bluetooth access is required for this app.</string>
		<key>NSBluetoothPeripheralUsageDescription</key>
		<string>Bluetooth peripheral access is required for this app.</string>
		<key>NSCalendarsUsageDescription</key>
		<string>Access to your calendar is needed to manage events.</string>
		<key>NSCameraUsageDescription</key>
		<string>Camera access is required to take photos or videos.</string>
		<key>NSContactsUsageDescription</key>
		<string>Access to your contacts is needed to share with them.</string>
		<key>NSDocumentsFolderUsageDescription</key>
		<string>We need access to save your voice messages.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>We need your location always and when in use to provide location-based services.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>We need access to your microphone to record voice feedback.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Access to your photo library is needed to select photos.</string>
		<key>NSRemindersUsageDescription</key>
		<string>Access to reminders is needed to manage tasks.</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>Speech recognition is required for voice commands.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UIStatusBarStyle</key>
		<string>UIStatusBarStyleDefault</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>forceSafariVC</key>
		<true/>
		<key>kTCCServiceMediaLibrary</key>
		<string>media</string>
	</dict>
</plist>
